
.navigation
	background-color: #000
	
	&-container
		display: flex
		justify-content: space-between
		align-items: center
		
	&-logo
		color: #fff
		font-size: 1.25rem
		
	&-list
		display: flex
		gap: 2rem
		
	&-list-item
		font-size: .875rem
		color: #bbb
		transition: .3s ease-in-out
		&:hover
			color: #ffffff