{% extends 'index.html' %}

{% block content %}
	<div class="container post-container">
				<article class="post post-lg">
					<header class="post-header post-header-lg">
						<h1 class="title-lg">
							{{ post.title }}
						</h1>
						<section class="post-meta">
							<div class="post-meta-item">
								<i class="fa-solid fa-user" title="Author"></i>
								<span>Admin</span>
							</div>
							<div class="post-meta-item">
								<i class="fa-solid fa-calendar" title="Publish Date"></i>
								<span>April 20, 2022</span>
							</div>
							<div class="post-meta-item">
								<i class="fa-solid fa-comment" title="Comments"></i>
								{% if post.comments %}
									<span>{{ post.comments|length }}</span>
								{% else %}
									<span>0</span>
								{% endif %}
							</div>
							<div class="post-meta-item">
								<i class="fa-solid fa-share-nodes" title="Share this post"></i>
							</div>
						</section>
					</header>
					<figure class="post-image-lg">
						<img src="{{ post.image }}" alt="">
					</figure>
					<main class="post-content post-content-lg">
						<section class="post-intro">
							{{ post.intro | safe }}
						</section>
						<section class="post-body">
							{{ post.body | safe }}
						</section>
					</main>
				</article>
	</div>
{% endblock %}